$firstColor : #000000; //#F2613F
$secondColor : #1A1A1A;
$thirdColor : #2C2C2C; //#00246B;
$fourthColor: #8c8c8c; //#f2783f
$hoverColor : #A3A3A3;

body {
    font-family: "Prompt", sans-serif;
    background-color: $firstColor;
    margin: 0;

}

.app {

    //LOGIN AND SIGN UP
    .container {

        .link {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: rgb(197, 195, 195);
            }
        }


        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $firstColor;
        }

        h1 {
            font-size: 35px;
            color: white;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 40px;
            background-color: #595959;
            border-radius: 8px;
            box-shadow: 5 4px 6px rgba(0, 0, 0, 0.1);
            width: 300px;
            gap: 20px;

            p{
                text-align: center;
                color: #eae1e1;
            }
        }

        input {
            padding: 13px;
            border: 1.2px solid black;
            border-radius: 5px;
            transition: border-color 0.3s;
        }

        input:focus {
            border-color: $secondColor;
            outline: none;
        }

        .authButton {
            padding: 10px;
            border: none;
            background-color: $secondColor;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .authButton:hover {
            background-color: rgb(47, 47, 47);
        }

        p {
            font-size: 19px;
            // color: red;
        }

        span {
            font-size: 15px;
            text-align: center;

            .signup{
                color: white;
            }
        }

        a {
            color: $secondColor;
            text-decoration: underline;
        }

        a:hover {
            color: darken($firstColor, 10%);
        }


        //NAVBAR

        .navbar-inner {
            position: sticky;
            padding-left: 70px;
            padding-right: 30px;
            background-color: $secondColor;

            .logo {
                .navTitle {
                    font-size: 34px;
                    color: white;
                    font-family: "Rubik Mono One", monospace;

                    &:hover{
                        color: $hoverColor;
                    }
                }
            }

            .container {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .links {
                    display: flex;
                    align-items: center;
                    gap: 17px;

                    h6 {
                        font-size: 18px;
                        font-weight: 180;
                        color: white;
                        font-family: "Rubik Mono One", monospace;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    span {
                        cursor: pointer;
                    }

                    .loginButton2 {
                        border: 2.5px solid $fourthColor;
                        background-color: $fourthColor;
                        color: $secondColor;

                        &:hover {
                            background-color: $thirdColor;
                            border: 2.5px solid white;
                            color: white;
                        }
                    }

                    .loginButton1 {
                        background-color: $thirdColor;
                        margin-right: 14px;
                        border: 3px solid white;
                        color: white;

                        &:hover{
                            background-color: $fourthColor;
                            border: 3px solid $fourthColor;
                            color: $secondColor;
                        }
                    }
                }
            }
        }

        

        //HOME

        .home {
            display: flex;
            justify-content: center;
            padding-top: 50px;

            .posts {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 60px;

                .topPosts{
                    margin-top: 40px;
                    color: rgb(225, 223, 223);
                    font-family: "Rubik Mono One", monospace;
                    font-weight: 340;
                }
                .post {
                    display: flex;
                    gap: 50px;
                    // align-items: center;
                    padding: 28px;
                    background-color: $thirdColor;
                    border-radius: 8px;
                    box-shadow: 0 3px 7px $secondColor;
                    width: 850px;
                    max-width: 90%;

                    .img {
                        flex: 1;

                        img {
                            width: 100%;
                            min-height: 240px;
                            max-height: 240px;
                            width: auto;
                            object-fit: cover;
                            border-radius: 9px;
                        }
                    }

                    .shrink {
                        img {
                            transition: 1s ease;
                        }

                        img:hover {
                            -webkit-transform: scale(0.9);
                            -ms-transform: scale(0.9);
                            transform: scale(0.9);
                            transition: 0.5s ease;
                        }


                    }

                    .content {
                        flex: 2;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 27px;
                            margin-bottom: 5px;
                            margin-top: 3px;
                            color: white;
                            

                            &:hover{
                                color: $hoverColor;  //not working
                            }
                        }

                        p {
                            font-size: 16px;
                            line-height: 1.3;
                            color: #e0dbdb;
                        }

                        .read-more {
                            align-self: flex-start;
                            margin-top: 4px;
                            margin-bottom: 9px;
                            padding: 8px 16px;
                            border: 1px solid rgb(201, 199, 199);
                            cursor: pointer;
                            background-color: rgb(201, 199, 199);
                            color: black;
                            border-radius: 4px;
                            max-width: 120px;
                            text-align: center;
                            text-decoration: none;

                            &:hover {
                                border-color: transparent;
                                background-color: $fourthColor;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        //SINGLE

        .single {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            background-color: $thirdColor;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 15px;

                width: 85%;

                img {
                    margin-top: 0px;
                    width: 100%;
                    height: 240px;
                    object-fit: cover;
                    border-radius: 10px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    border: 1px solid white;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    font-size: 16px;
                    color: #555;
                    margin-bottom: 10px;
                    margin-top: 12px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit:fill;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                        border: 1px solid rgb(198, 195, 195);
                        background-color: rgb(226, 225, 225);
                        &:hover{
                            cursor: pointer;
                            background-color: $fourthColor;
                        }
                    }

                    p {
                        margin: 0;
                        font-size: 14px;
                    }

                    span {
                        font-weight:700;
                        font-size: 20px;
                        color: rgb(226, 225, 225);
                    }
                }

                .edit {
                    display: flex;
                    gap: 10px;

                    img {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        transition: transform 0.3s ease;
                    }

                    img:hover {
                        transform: scale(1.2);
                    }
                }

                h1 {
                    font-size: 36px;
                    color: white;
                }

                p {
                    font-size: 19px;
                    line-height: 1.7;
                    text-align: justify;
                    color: rgb(227, 219, 219);
                }
            }

            //Menu
            .menu-outer {

                .menu-header{
                    color: rgb(225, 225, 225);
                    margin-left: 15px;
                    margin-bottom: 30px;
                }
                width: 87%;
                h1 {
                  font-size: 30px;
                  color: white;
                }
                .menu {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content:space-around;
              
                  .post {

                    flex: 0 0 calc(25% - 0px); /* Three cards in a row with 20px gap */
                    margin-bottom: 25px;
              
                    @media screen and (max-width: 992px) {
                      flex: 0 0 calc(50% - 20px); /* Two cards in a row with 20px gap */
                    }
              
                    @media screen and (max-width: 576px) {
                      flex: 0 0 calc(100% - 20px); /* One card in a row with 20px gap */
                    }

                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    background-color: rgb(30, 29, 29);
              
                    border-radius: 8px;
                    padding: 18px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transition: box-shadow 0.3s ease;
              
                    &:hover {
                      box-shadow: 0 6px 12px $secondColor;
                    }
              
                    img {
                      width: 100%;
                      height: 200px;
                      object-fit: cover;
                      border-radius: 8px;
                      border: 3px solid rgb(182, 177, 177);
                    }
              
                    h2 {
                      color: rgb(222, 217, 217);
                      font-size: 20px;
                    }
              
                    button {
                      width: max-content;
                      padding: 7.5px 15px;
                      border: none;
                      cursor: pointer;
                      background-color: rgb(222, 217, 217);
                      border: 2px solid rgb(222, 217, 217);
                      color: black;
                      border-radius: 4px;
                      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
                       
              
                      &:hover {
                        background-color: $fourthColor;
                        color: white;
                        border-color: $fourthColor;
                      }
                    }
                  }
                }
              }
              
            
        }

        //WRITE

        .add {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 18.8px;
            align-items: center;
            width: 100%;
            margin: 0;
            background-color: $thirdColor;
          
            .content {
              margin-top: 28px;
              flex: 3;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 20px;
              width: 60%;
          
              input {
                padding: 10px;
                width: 100%;
                border: 1px solid black;
                border-radius: 10px;
                font-size: 14px;
                background-color: $fourthColor;
                color: black;
          
                &.about-article {
                  height: 28px;
                }
          
                &::placeholder {
                  color: rgb(82, 82, 82);
                }
              }
          
              .editorContainer {
                height: 240px;
                overflow: auto;
                width: 102%;
                border: 1px solid black;
                border-radius: 15px;
                background-color: #737272;
          
                .ql-editor {
                  height: 100%;
                  border: none;
                  font-size: 16px;
                  background-color: #8c8c8c;
                }
          
                &::-webkit-scrollbar {
                  width: 9.3px;
                }
          
                &::-webkit-scrollbar-thumb {
                  background-color: #b4b4b4;
                  border-radius: 10px;
                }
          
                &::-webkit-scrollbar-track {
                  background-color: #1d1c1c;
                  border-radius: 10px;
                }
              }
            }
          
            .menu {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 25px;
          
              .item {
                padding: 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: #555;
                width: 100%;
          
                h1 {
                  font-size: 20px;
                  margin-right: 10px;
                }
          
                .cat {
                  display: flex;
                  align-items: center;
                  gap: 0px;
                  color: white;
                  margin-right: 15px;
          
                  input[type="radio"] {
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                  }
                }
              }
          
              button {
                margin-left: 30px;
                padding: 08px;
                width: 20px;
                background-color: rgb(122, 124, 124);
                color: white;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.3s;
                font-size: 16px;
                width: 20%;
          
                &:hover {
                  background-color: rgb(91, 91, 91);
                  color: rgb(216, 216, 216);
                }
              }
            }
          }
          

        //FOOTER

        footer {
            color: white;
            margin-top: 90px;
            padding: 20px;
            padding-left: 40px;
            background-color: $secondColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 500;
            font-family: "Rubik Mono One", monospace;

            .right-foot{
                font-family: "Prompt", sans-serif;
                margin-right: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }
    }
}

///////////////
//PROFILE ICON
.user-icon {
    margin-left: 10px;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #939090;
    transition: background-color 0.3s ease;
}

.user-icon:hover {
    background-color: $hoverColor;
}

.user-icon.active {
    background-color: $hoverColor;
}


.feather {
    width: 30px;
    height: 30px;
    color: #222121;
}

/* Dropdown menu */
.dropdown-menu {
    position: absolute;
    top: calc(100% + 7.5px);
    /* Position below the icon */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-60%);
    /* Adjust for centering */
    width: 80px;
    /* Wider dropdown */
    background-color: $fourthColor;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 07px;
    padding-bottom: 2px;
    padding-top: 2px;
    z-index: 1;
    /* Ensure dropdown appears above other content */

    .profileOptions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-menu li {
    cursor: pointer;
    font-size: 16px;
    padding: 6px 0;

}

.navMod {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
