$firstColor : #F2613F;
$secondColor : #0C0C0C; //#00246B;

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.app {

    // display: flex;
    // justify-content: center;

    .container {

        .link {
            text-decoration: none;
            color: inherit;
        }

        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $firstColor;
        }

        h1 {
            font-size: 35px;
            color: $secondColor;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 40px;
            background-color: white;
            border-radius: 8px;
            /* Added a border radius */
            box-shadow: 5 4px 6px rgba(0, 0, 0, 0.1);
            /* Added a subtle shadow */
            width: 300px;
            /* Adjusted width for better spacing */
            gap: 20px;
        }

        input {
            padding: 13px;
            border: 2px solid #ccc;
            /* Lighter border */
            border-radius: 5px;
            /* Rounded borders for inputs */
            transition: border-color 0.3s;
            /* Smooth transition for focus */
        }

        input:focus {
            border-color: var(--secondColor);
            /* Highlight focus */
            outline: none;
            /* Remove default focus outline */
        }

        .authButton {
            padding: 10px;
            border: none;
            background-color: $secondColor;
            color: white;
            /* Ensure text is visible on button */
            cursor: pointer;
            border-radius: 5px;
            /* Match input border-radius */
            transition: background-color 0.3s;
            /* Smooth background transition */
        }

        .authButton:hover {
            background-color: darken($firstColor, 10%);
            /* Slightly darker on hover */
        }

        p {
            font-size: 17px;
            color: red;
        }

        span {
            font-size: 12px;
            text-align: center;
        }

        /* Additional styles for Link */
        a {
            color: $secondColor;
            text-decoration: underline;
            /* Make it obvious it's clickable */
        }

        a:hover {
            color: darken($firstColor, 10%);
        }


        //NAVBAR

        .navbar {
            padding-left: 70px;
            padding-right: 30px;
            background-color: $secondColor;

            .logo {
                .navTitle {
                    font-size: 34px;
                    color: $firstColor;
                    font-family: "Rubik Mono One", monospace;
                }
            }

            .container {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .links {
                    display: flex;
                    align-items: center;
                    gap: 17px;

                    h6 {
                        font-size: 17px;
                        font-weight: 440;
                        color: $firstColor;

                        &:hover {
                            color: white;
                        }
                    }

                    span {
                        cursor: pointer;
                    }

                    .loginButton1 {
                        border: 2px solid $firstColor;
                        margin-right: 13px;

                        &:hover {
                            background-color: #0C0C0C;
                            border: 2px solid $firstColor;
                            color: $firstColor;
                        }
                    }

                    .loginButton2 {
                        background-color: #0C0C0C;
                        border: 3px solid $firstColor;
                    }

                    .write {
                        background-color: $firstColor;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }


        //FOOTER

        footer {
            margin-top: 100px;
            padding: 20px;
            background-color: $firstColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
        }

        //HOME

        .home {
            .posts {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post {
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n+1) {
                        flex-direction: row-reverse;
                    }

                    .img {
                        flex: 2;

                        img {
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }

                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 48px;
                        }

                        p {
                            font-size: 18px;
                        }

                        button {
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid teal;
                            color: teal;

                            &:hover {
                                border: 1ps solid white;
                                background-color: $firstColor;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        //SINGLE

        .single {
            display: flex;
            gap: 70px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    p {
                        margin: 0%;
                        color: rgb(75, 71, 71);
                    }

                    span {
                        font-weight: bold;
                    }

                }

                .edit {
                    display: flex;
                    gap: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }

                h1 {
                    font-size: 42px;
                    color: #333;
                }

                p {
                    text-align: justify;
                    line-height: 30px;
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-size: 20px;
                    color: #555;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2 {
                        color: #555;
                    }

                    button {
                        width: max-content;
                        padding: 7.5px 15px;
                        border: none;
                        cursor: pointer;
                        background-color: white;
                        border: 1px solid teal;
                        color: teal;

                        &:hover {
                            border: 1ps solid white;
                            background-color: $firstColor;
                            color: black;
                        }
                    }


                }
            }
        }

        //WRITE

        .add {
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer {
                    height: 300px;
                    overflow: scroll;
                    border: 1px solid lightgray;
                }

                .editor {
                    height: 100%;
                    border: none;
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;


                    h1 {
                        font-size: 20px;
                    }

                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;

                        :first-child {
                            cursor: pointer;
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }

                        :last-child {
                            cursor: pointer;
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                    }

                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: teal;
                    }
                }
            }
        }
    }
}