$firstColor : #F2613F; //#F2613F
$secondColor : #0C0C0C; //#00246B;
$thirdColor: #f2783f;

body {
    font-family: "Roboto", sans-serif;
    background-image: url("./images/Orange\ Fun.jpg");
    background-image: -moz-linear-gradient();
    margin: 0;

}

.app {

    // display: flex;
    // justify-content: center;

    //LOGIN AND SIGN UP
    .container {

        .link {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: white;
            }
        }


        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url("./images/Orange\ Fun.jpg");
        }

        h1 {
            font-size: 35px;
            color: $secondColor;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 40px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 5 4px 6px rgba(0, 0, 0, 0.1);
            width: 300px;
            gap: 20px;
        }

        input {
            padding: 13px;
            border: 2px solid #ccc;
            border-radius: 5px;
            transition: border-color 0.3s;
        }

        input:focus {
            border-color: var(--secondColor);
            outline: none;
        }

        .authButton {
            padding: 10px;
            border: none;
            background-color: $secondColor;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .authButton:hover {
            background-color: darken(#f2783f, 10%);
        }

        p {
            font-size: 17px;
            // color: red;
        }

        span {
            font-size: 12px;
            text-align: center;
        }

        a {
            color: $secondColor;
            text-decoration: underline;
        }

        a:hover {
            color: darken($firstColor, 10%);
        }


        //NAVBAR

        .navbar-inner {
            position: sticky;
            padding-left: 70px;
            padding-right: 30px;
            background-color: $secondColor;

            .logo {
                .navTitle {
                    font-size: 34px;
                    color: $firstColor;
                    font-family: "Rubik Mono One", monospace;
                }
            }

            .container {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .links {
                    display: flex;
                    align-items: center;
                    gap: 17px;

                    h6 {
                        font-size: 18px;
                        font-weight: 440;
                        color: $firstColor;

                        &:hover {
                            color: white;
                        }
                    }

                    span {
                        cursor: pointer;
                    }

                    .loginButton1 {
                        border: 2.5px solid #f2783f;
                        margin-right: 14px;
                        background-color: #f2783f;

                        &:hover {
                            background-color: #0C0C0C;
                            border: 2.5px solid #f2783f;
                            color: #f2783f;
                        }
                    }

                    .loginButton2 {
                        background-color: #0C0C0C;
                        border: 3px solid #f2783f;
                    }

                    .write {
                        background-color: $firstColor;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }

        

        //HOME

        .home {
            display: flex;
            justify-content: center;
            padding-top: 50px;

            .posts {
                display: flex;
                flex-direction: column;
                gap: 60px;

                .post {
                    display: flex;
                    gap: 50px;
                    // align-items: center;
                    padding: 28px;
                    background-color: $secondColor;
                    border-radius: 8px;
                    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
                    width: 850px;
                    max-width: 90%;

                    .img {
                        flex: 1;

                        img {
                            width: 100%;
                            min-height: 240px;
                            max-height: 240px;
                            width: auto;
                            object-fit: cover;
                            border-radius: 9px;
                        }
                    }

                    .shrink {
                        img {
                            transition: 1s ease;
                        }

                        img:hover {
                            -webkit-transform: scale(0.9);
                            -ms-transform: scale(0.9);
                            transform: scale(0.9);
                            transition: 0.5s ease;
                        }


                    }

                    .content {
                        flex: 2;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 33px;
                            margin-bottom: 5px;
                            margin-top: 7px;
                            color: #f2783f;
                        }

                        p {
                            font-size: 16px;
                            line-height: 1.3;
                            color: $firstColor;
                        }

                        .read-more {
                            align-self: flex-start;
                            margin-top: 4px;
                            margin-bottom: 5px;
                            padding: 8px 16px;
                            border: 1px solid $firstColor;
                            cursor: pointer;
                            background-color: #f2783f;
                            color: $secondColor;
                            border-radius: 4px;
                            max-width: 120px;
                            text-align: center;
                            text-decoration: none;

                            &:hover {
                                border-color: transparent;
                                background-color: white;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        //SINGLE

        .single {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 15px;

                width: 85%;

                img {
                    margin-top: 0px;
                    width: 100%;
                    height: 240px;
                    object-fit: cover;
                    border-radius: 10px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    border: 1px solid black;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    font-size: 16px;
                    /* Increase font size for better readability */
                    color: #555;
                    /* Update text color */
                    margin-bottom: 10px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit:fill;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                        border: 1px solid black;
                        background-color: $thirdColor;
                        /* Add subtle box-shadow */
                        &:hover{
                            cursor: pointer;
                            background-color: $firstColor;
                        }
                    }

                    p {
                        margin: 0;
                    }

                    span {
                        font-weight:700;
                        font-size: 20px;
                        color: $secondColor;
                    }
                }

                .edit {
                    display: flex;
                    gap: 10px;
                    /* Increase gap for better spacing */

                    img {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        transition: transform 0.3s ease;
                        /* Add transition for smoother hover effect */
                    }

                    img:hover {
                        transform: scale(1.2);
                        /* Scale up on hover for better visibility */
                    }
                }

                h1 {
                    font-size: 36px;
                    /* Decrease font size for better hierarchy */
                    color: $secondColor;
                    /* Update text color */
                }

                p {
                    font-size: 18px;
                    /* Increase font size for better readability */
                    line-height: 1.6;
                    /* Increase line height for better spacing */
                    text-align: justify;
                    color: $secondColor;
                    /* Update text color */
                }
            }

            //Menu
            .menu-outer {

                .menu-header{
                    color: rgb(54, 53, 53);
                    margin-left: 15px;
                    margin-bottom: 30px;
                }
                width: 87%;
                h1 {
                  font-size: 30px;
                  color: #555;
                }
                .menu {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content:space-around;
              
                  .post {

                    flex: 0 0 calc(25% - 0px); /* Three cards in a row with 20px gap */
                    margin-bottom: 25px;
              
                    @media screen and (max-width: 992px) {
                      flex: 0 0 calc(50% - 20px); /* Two cards in a row with 20px gap */
                    }
              
                    @media screen and (max-width: 576px) {
                      flex: 0 0 calc(100% - 20px); /* One card in a row with 20px gap */
                    }

                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    background-color: rgb(30, 29, 29);
              
                    border-radius: 8px;
                    padding: 18px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transition: box-shadow 0.3s ease;
              
                    &:hover {
                      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
                    }
              
                    img {
                      width: 100%;
                      height: 200px;
                      object-fit: cover;
                      border-radius: 8px;
                      border: 3px solid $thirdColor;
                    }
              
                    h2 {
                      color: $thirdColor;
                      font-size: 20px;
                    }
              
                    button {
                      width: max-content;
                      padding: 7.5px 15px;
                      border: none;
                      cursor: pointer;
                      background-color: $thirdColor;
                      border: 2px solid $thirdColor;
                      color: white;
                      border-radius: 4px;
                      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
              
                      &:hover {
                        background-color: white;
                        color: $firstColor;
                        border-color: white;
                      }
                    }
                  }
                }
              }
              
            
        }

        //WRITE

        .add {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            width: 70%;
            margin: 0 auto;
          
            .content {
              flex: 5;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 20px;
              width: 100%;
          
              input {
                padding: 10px;
                width: 100%;
                border: 1px solid lightgray;
                border-radius: 5px;
                font-size: 16px;
          
                &.about-article {
                  height: 35px;
                }
              }
          
              .editorContainer {
                height: 250px;
                overflow: scroll; /* Bringing back the scrollbar */
                width: 100%;
                border: 1px solid lightgray;
                border-radius: 5px;
                background-color: #f5f5f5; /* Added background color to the editor container */
          
                .ql-editor {
                  height: 100%;
                  border: none;
                  font-size: 16px;
                  background-color: #f5f5f5; /* Added background color to the editor */
                }
              }
            }
          
            .menu {
              flex: 2;
              display: flex;
              flex-direction: column;
              gap: 20px;
              width: 100%;
          
              .item {
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: #555;
                width: 100%;
          
                h1 {
                  font-size: 20px;
                  margin-right: 10px;
                }
          
                .cat {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  color: teal;
          
                  input[type="radio"] {
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                  }
                }
              }
          
              button {
                padding: 8px 16px; /* Reduced button size */
                background-color: teal;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
                font-size: 16px;
                width: 100%;
          
                &:hover {
                  background-color: #0e8a6a;
                }
              }
            }
          }
          
          
          
          
          
          

        //FOOTER

        footer {
            color: $firstColor;
            margin-top: 100px;
            padding: 20px;
            background-color: $secondColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
        }
    }
}

///////////////
//PROFILE ICON
.user-icon {
    margin-left: 10px;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    /* Position relative for dropdown */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $firstColor;
    /* Default background color */
    transition: background-color 0.3s ease;
    /* Transition for hover effect */
}

.user-icon:hover {
    background-color: $thirdColor;
    /* Change background color on hover */
}

.user-icon.active {
    background-color: $thirdColor;
    /* Change background color when active */
}

/* Adjust SVG size and color */
.feather {
    width: 30px;
    height: 30px;
    color: #222121;
    /* Icon color */
}

/* Dropdown menu */
.dropdown-menu {
    position: absolute;
    top: calc(100% + 7.5px);
    /* Position below the icon */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-60%);
    /* Adjust for centering */
    width: 90px;
    /* Wider dropdown */
    background-color: $firstColor;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    z-index: 1;
    /* Ensure dropdown appears above other content */

    .profileOptions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-menu li {
    cursor: pointer;
    font-size: 16px;
    padding: 6px 0;

}

.navMod {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}